 * {
     font-weight: 700;
 }

.hello-world-button {
    font-size: 30px;
    padding: 7px 15px;
    background-color: antiquewhite;
    color: darkblue;
    border: 1px solid black;
    margin: 1px;
    cursor: pointer;
}

.hello-world-text { 
    color: green;
    font-size: 20px;
}

